<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada</p>
  <p>Copie o codigo abaixo para escolher uma nova senha: </p>
  <p>
   <h3>{{token}}</h3>
  </p>
  <p>Se não foi você, entao descarte esse email!!</p>
  <p>
    Obrigado!<br />
    <strong>Equipe Dai Nails</strong>
  </p>
</div>
